body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
} 
/* Стили для header */
.header { 
    display: flex; 
    align-items: center; 
    background-color: white; 
    padding: 17px; 
    border-bottom: 2px solid #ccc; 
} 

.logo { 
    margin-left: 130px;
    margin-right: 40px;
}

.nav { 
    display: flex;
}

.nav ul { 
    list-style: none; 
    display: flex;
    margin: 0; 
    padding: 0; 
} 

.nav li { 
    display: flex;
    align-items: center; 
    margin-right: 20px;
} 
/*Стили для иконок с человечком и билетом*/
.icon { 
    width: 24px;
    height: 24px; 
    margin-right: 15px;
} 

.nav a { 
    text-decoration: none;
    color: black; 
    margin-right: 20px;
} 
/*Стили для main части*/
/*Стиль для текста "Афиша"*/
.text-main{
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.movies-container {       
    display: flex;    
    flex-wrap: wrap;    
    justify-content: center;
    margin: 10px;   
    height: 150px;
    margin-bottom: 100px;
}       

.movie-card {            
    border-radius: 10px;   
    width: calc(25%);
    margin: 10px;     
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}       
  
.movie-poster {  
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    object-fit: cover;
}  
  
.movie-title {  
    text-align: left;
    font-size: 1.5em; 
    margin: 10px 0 5px; 
}  
  
.movie-subtitle {  
    font-size: 1em;
    color: #777; 
    margin-bottom: 18px; 
    text-align: left; 
    margin-top: 7px;
}  
  
.movie-button {  
    width: 100%;
    background-color: #9534D2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: auto;
    
}  
/*Стили для звездочек рейтинга*/
.rating-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.rating-pics {
    width: 30px;
    height: auto;
    margin-bottom: 5px;
}

.poster-wrapper {
    position: relative;
}
/*Стиль для белого уголка*/
.label {
    position: absolute;
    bottom: 3px;
    right: 0px;
    width: 100px;
    height: auto;
}
/*Стили для текста в уголке*/
.genre {   
    position: absolute;   
    top: 253px;
    left: 230px;   
    color: black;   
    z-index: 3;   
    font-size: 0.7em;   
    font-family: Arial, sans-serif;    
}  
  
.countryAndFilm {  
    position: absolute; 
    top: 273px;
    left: 230px; 
    color: black;   
    z-index: 3;   
    font-size: 0.6em;
    font-family: Arial, sans-serif;    
    white-space: nowrap;
}

/*Стили для film.html*/
.certain-film-container {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 30px;
    align-items: flex-start;
}

.genre-page-for-certain-film {
    position: absolute;
    top: 253px;
    left: 195px;
    color: black;
    z-index: 3;
    font-size: 0.7em;
}

.countryAndFilm-page-for-certain-film {
    position: absolute;
    top: 273px;
    left: 195px;
    color: black;
    z-index: 3;
    font-size: 0.6em;
    white-space: nowrap;
}

.movie-info-container {
    width: 600px;
    height: 350px;
    margin-left: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.movie-subtitle-for-certain-film {
    font-size: 1em;
    color: #777;
    margin-bottom: 18px;
    text-align: left;
    margin-top: 0;
}

.movie-actors-for-certain-film {
    margin-top: 0;
}
/*Стили для расписания сеансов*/
.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 120px;
    margin-top: 50px;
    height: 180px;
}

.schedule-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 20px;
}

.schedule-button {
    border: none;
    background-color: rgb(214, 213, 213);
    color: rgb(64, 65, 69);
    padding: 10px 15px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.schedule-button:hover {
    background-color: #ececee;
    color: rgb(64, 65, 69);
}

.seances-container {
    margin-left: 120px;
}

.button-to-continue-operations {
    width: 30%;
    background-color: #9534D2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
}

.hall-info {
    margin-bottom: 20px;
}

.times-container {
    display: flex;
    gap: 10px;
}

.time-cell {
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.time-cell.active {
    background-color: #d1e7dd;
}

.hall-info {
    margin-bottom: 10px;
}

.hall-info h4 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 8px;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.time-cell {
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.time-cell:hover {
    background-color: #e0e0e0;
}

.time-cell[data-selected="true"] {
    background-color: rgb(214, 213, 213);
    color: rgb(64, 65, 69);
}